---
---
Drawing
=======
All drawing calls have a shape and an object with additional information

Polygon
-------
A polygon is a closed set of points that is connected. A polygon consists of a list of points called the path.

{% highlight json %}
{
    "shape": "polygon",
    "data": {
        "Path": [
            {
                "x": 10,
                "y": 10
            },
            {
                "x": 20,
                "y": 10
            },
            {
                "x": 10,
                "y": 20
            }
        ]
    }
}
{% endhighlight %}
